* {
    box-sizing: border-box;
    margin: 0 auto;
}

#container {
    width: 1000px;
    height: 600px;
    background-image: linear-gradient(#6ecbed, #5fa2f0);
    margin-top: 30px;
}

nav {
    height: 60px;
    width: 100%;
    line-height: 60px;
    display: flex;
    border-bottom: 4px dotted white;
}

nav ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(0, 127, 212);
}

nav h1 {
    margin-left: 280px;
    color: white;
    text-shadow: 0px 0px 15px rgb(2, 2, 187);
}

section {
    width: 50%;
    color: white;
    height: 460px;
    float: left;
}

section h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
}

section p {
    text-align: justify;
    padding-left: 10px;
}

table {
    margin-left: 50px;
    padding-right: 20px;
}

table select {
    border-radius: 5px;
}

table input,
textarea {
    width: 240px;
    border-radius: 5px;
}

table button {
    border-radius: 5px;
    border: 1px dashed black;
}

aside {
    width: 50%;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
    color: blue;
}

aside img {
    width: 90%;
}

aside h1 {
    text-shadow: 3px 2px 1px blue;
    margin-top: 20px;
    margin-left: 50px;
}

aside h4 {
    margin-top: 5px;
    margin-left: 60px;
}

footer {
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    border-top: 4px dotted white;
    padding-top: 20px;
    line-height: 25px;
}